/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.panelViewContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ollamaPluginQuestionBox{
	width: 100%;
	height: 100px;
	resize: none;
}
