/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.panelViewContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ollamaPluginQuestionBox{
	width: 100%;
	height: 100px;
	resize: none;
}
.ollamaPluginConvoBox{
	cursor: pointer;
}
.ollamaPluginConvoBox.query{
	margin-top: 4px;
	text-align: right;
	background: green;
	width: auto;
	max-width: 90%;
	justify-self: right;
	border-radius: 10px;
	padding: 8px;
}

.ollamaPluginConvoBox.response{
	margin-top: 4px;
	text-align: left;
	background: grey;
	width: auto;
	max-width: 90%;
	justify-self: left;
	border-radius: 10px;
	padding: 8px;
}


